#starlight__on-this-page--mobile {
  border-top: 1px solid var(--sl-color-hairline-shade);
  margin-top: calc(var(--sl-nav-height));
}

@media (min-width: 800px) and (max-width: 1150px) {
  #starlight__on-this-page--mobile {
    margin-top: calc(var(--sl-nav-height));
  }
}

@media (max-width: 1150px) {
  .main-pane {
    margin-top: calc(var(--sl-nav-height));
  }
}

@media (max-width: 50rem) {
  .sidebar-pane {
    margin-top: calc(var(--sl-nav-height));
  }
}
