---
import { getRootPath } from "../lib/utils";
const currentRootPath = getRootPath(Astro.url.pathname);
const { href } = Astro.props;
const isActive = href === currentRootPath;
---

<a
  {...Astro.props}
  style={{
    color: isActive ? "var(--sl-color-text-accent)" : "",
    backgroundColor: isActive ? "var(--sl-color-gray-6)" : "",
  }}
>
  <slot />
</a>

<style>
  a {
    background-color: var(--sl-color-primary-500);
    color: var(--sl-color-text);
    border: none;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.5rem 1rem;
  }

  a:hover {
    color: var(--sl-color-text-accent);
    background-color: var(--sl-color-gray-6);
  }
</style>
